// Комменты удалю, если все правильно

.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, $width-card);
  gap: 48px;
  justify-content: center;

  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: $width-card;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    // margin-bottom: 48px;
  }

  // &__card:not(:nth-child(4n)) {
  //   margin-right: 48px;
  // }
}
